# Solana RPC
RPC_WS_URL=
RPC_HTTP_URL=
RPC_COMMITMENT=confirmed

# Kafka
KAFKA_BROKERS=localhost:9092

# ClickHouse
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_DB=solana
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=mypassword

# clickhouse-writer batching
BATCH_MAX_ROWS=1000
FLUSH_INTERVAL_MS=2000

# GraphQL API
API_PORT=4000
